.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.jumbotron {
  margin: 0;
}

body,
.bg,
#main-content {
  min-height: 100vh;
}
